name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: [ "1.19", "1.20" ]
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: make build

      - name: Test
        run: make test

  coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.19

      - name: Test
        run: go test -v -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)

  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: "-v"
          version: v2.6
